@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


/* =========================
   DUOPROG REGISTRO
========================= */


.registro {

    width: 420px;

    padding: 35px;


    background: #1D2633;


    border-radius: 25px;


    box-shadow: 0 15px 40px rgba(0,0,0,0.35);


    color: #F4F7F8;


    font-family: 'Inter', sans-serif;


}



/* TITULO */


.registro h1 {

    text-align: center;


    font-size: 30px;


    font-weight: 800;


    margin-bottom: 25px;


    color: #F4F7F8;

}



/* FORMULARIO */


.registro form {

    display: flex;

    flex-direction: column;

    gap: 12px;

}



/* LABELS */


.registro label {

    color: #20DFF5;


    font-size: 14px;


    font-weight: 600;

}



/* INPUTS */


.registro input {


    padding: 15px;


    border-radius: 15px;


    border: 2px solid #334155;


    background: #10151C;


    color: #F4F7F8;


    font-size: 16px;


}



.registro input:focus {


    outline: none;


    border-color: #20DFF5;


    box-shadow: 0 0 10px rgba(32,223,245,0.35);


}



/* BOTÓN */


.registro button {


    margin-top: 15px;


    padding: 15px;


    border: none;


    border-radius: 18px;


    background: #2778FF;


    color: white;


    font-size: 17px;


    font-weight: bold;


    cursor: pointer;


    transition: .2s;


}



.registro button:hover {


    background: #20DFF5;


    color: #10151C;


    transform: translateY(-2px);


}



/* MENSAJE */


#mensajeRegistro {


    margin-top: 20px;


    text-align: center;


    color: #20DFF5;


    font-weight: 600;


}